<h1><%= @pirate.name %></h1>
<p>Height: <%= @pirate.height %></p>
<p>Weight: <%= @pirate.weight %></p>

<h2>First Ship: <%= @first_ship.name %></h2>
<p>Type: <%= @first_ship.type %></p>
<p>Booty: <%= @first_ship.booty %></p>


<h2>First Ship: <%= @second_ship.name %></h2>
<p>Type: <%= @second_ship.type %></p>
<p>Booty: <%= @second_ship.booty %></p>
